@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Oxygen+Mono&family=Raleway:wght@400;700&display=swap');

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countryStatistics {
  color: #fff;
}

.statsContentWrapper {
  background-color: #faeefa;
  height: 100vh;
  margin: 0 auto;
  padding-top: 5rem;
}

.statsContent {
  padding-top: 2em;
  background-color: #e65e92;
  height: 100vh;
}

.mainStatsDiv {
  width: 30vw;
  margin: 0 auto;
}

.vaccineImage {
  height: 70%;
  width: 70%;
}

.mainStats {
  color: #fff;
  font-family: 'Oxygen Mono', monospace;
}

.mainStats h3 {
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Oxygen Mono', monospace;
}

.mainStats p {
  padding-top: 2em;
  line-height: 1.3em;
  font-family: 'Oxygen Mono', monospace;
}

.statisticsTable {
  display: flex;
  flex-direction: column;
}

.additionalStats {
  margin: 0 auto;
  max-width: 40vw;
  flex-direction: column;
  border: 1px solid #560238;
  border-radius: 10px;
}

.additionalStats h4 {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-family: 'Oxygen Mono', monospace;
  padding: 1em;
}

.statisticsDark {
  background-color: #9f2c75;
}
.statisticsLight {
  background-color: #d281b5;
}

.statisticDiv {
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
