@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Oxygen+Mono&family=Raleway:wght@400;700&display=swap');

.homeCallout {
  background-color: #faeefa;
  padding-top: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dataSection {
  background-color: #dd0db0;
  padding-top: 1em;
}

.home {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
}

.africaImageDiv {
  width: 25vw;
  opacity: 0.1;
  padding: 1em 0;
}

.africaImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.innercontent {
  color: #9f2c75;
  margin-left: 1em;
}

.innercontent h1 {
  color: #9f2c75;
  font-family: 'Oxygen Mono', monospace;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 2em;
}

.innercontent p {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 1em;
}

.dataSectionHeader {
  text-align: center;
  color: #fff;
  padding: 2em 0;
}

.countryWrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 5px;
  grid-auto-flow: row;
  grid-gap: 20px 20px;
}
