.imgSection {
  background-color: #dd0db0;
    padding-top: 10em;
}

.dataSection {
  background-color: #dd0db0;
  padding-top: 10em;
}

.home {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 2rem auto;
  text-align: center;
}

.africaImage {
  background-image: url(../../assets/africa.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
